In [27]:
import pandas as pd
import seaborn as sns

In [28]:
final_day = pd.read_csv('final_day.csv')
leaf_counts = pd.read_csv('leaf_counts.csv')

In [29]:
final_day.head()

,treatment,pod,plant_number,root_length,node,leaf_pair,shoot_length,root_number
0,ssfw,4,1,2.4,0,2,2.6,3
1,ssfw,4,2,0.9,4,4,4.7,2
2,ssfw,4,3,1.0,3,3,4.6,5
3,ssfw,4,4,0.4,2,6,4.1,2
4,ssfw,4,5,1.6,5,4,5.8,1

In [30]:
leaf_counts.head()

     pod  9/23  9/28  9/30  10/5  10/14  10/19
0  isfw1     6     8    13    17     17     15
1  isfw2     3     4    10    12     18      8
2  isfw3    10    13    17    17     17     24
3  isfw4     5     6    14    19     19     24
4   isw1     3     6    12    18     32     27

In [31]:
leaf_counts['treatment'] = leaf_counts['pod'].str[:-1]
leaf_counts['pod_number'] = leaf_counts['pod'].str[-1:]

In [32]:
final_day['pod_number'] = final_day['pod'];final_day
final_day['pod'] = final_day['treatment'] + final_day['pod'].astype(str)
final_day

,treatment,pod,plant_number,root_length,node,leaf_pair,shoot_length,root_number,pod_number
0,ssfw,ssfw4,1,2.4,0,2,2.6,3,4
1,ssfw,ssfw4,2,0.9,4,4,4.7,2,4
2,ssfw,ssfw4,3,1.0,3,3,4.6,5,4
3,ssfw,ssfw4,4,0.4,2,6,4.1,2,4
4,ssfw,ssfw4,5,1.6,5,4,5.8,1,4
...,...,...,...,...,...,...,...,...,...
133,ssw,ssw2,16,0.9,1,4,5.3,2,2
134,ssw,ssw2,17,1.6,0,4,6.9,1,2
135,ssw,ssw2,18,2.4,3,4,6.6,4,2
136,ssw,ssw2,19,0.5,1,4,4.1,2,2
137,ssw,ssw2,20,0.6,1,4,3.4,2,2

In [20]:
leaf_counts

      pod  9/23  9/28  9/30  10/5  10/14  10/19 treatment pod_number
0   isfw1     6     8    13    17     17     15      isfw          1
1   isfw2     3     4    10    12     18      8      isfw          2
2   isfw3    10    13    17    17     17     24      isfw          3
3   isfw4     5     6    14    19     19     24      isfw          4
4    isw1     3     6    12    18     32     27       isw          1
5    isw2     0     4     3     6     10     13       isw          2
6    isw3    19    19    25    28     17     18       isw          3
7    isw4     4     6     8    10     12     19       isw          4
8   ssfw1    12    12    29    30     30     39      ssfw          1
9   ssfw2    14    16    25    30     30     30      ssfw          2
10  ssfw3     9    15    24    32     32     44      ssfw          3
11  ssfw4     7     9    15    17     15     28      ssfw          4
12   ssw1    11    11    25    25     27     15       ssw          1
13   ssw2    17    19    40    51     46     40       ssw          2
14   ssw3     6     6    14    15     16     15       ssw          3
15   ssw4    10    15    34    38     38     45       ssw          4

In [34]:
final_day_leaf_count  = final_day.groupby('pod').sum()

In [35]:
final_day_leaf_count

,plant_number,root_length,node,leaf_pair,shoot_length,root_number,pod_number
pod,,,,,,,
isw 1,91,8.8,5,27,23.5,16,13
isw 2,15,6.0,0,9,9.2,5,10
isw 3,10,2.2,0,8,8.0,4,12
isw 4,21,7.5,0,12,10.5,12,24
ssfw1,153,18.9,53,76,69.3,40,17
ssfw2,78,9.6,29,31,48.8,24,24
ssfw3,153,16.5,43,45,66.8,49,51
ssfw4,105,12.2,31,38,53.9,33,56
ssw1,55,6.9,3,25,34.6,14,10
ssw2,210,24.3,16,69,96.9,40,40
ssw4,210,22.5,13,53,91.5,57,80